.ButtonGap{
	margin-left: 3% !important;
}
.ButtonGap1{
	margin-left: 10% !important;
}
.ButtonGap2{
	margin-left: 3% !important;
}
.ButtonGap4{
	margin-left: 3% !important;
}
.ButtonGap3{
	margin-left: 32% !important;
}}

.Gap1{
	margin-left: 6% !important;
}

.Gap2{
	margin-left: 20% !important;
}

